<p>Hello from pages#index!</p>


<p>Routes:</p>
<pre>
Prefix Verb URI Pattern    Controller#Action
   new GET  /new(.:format) pages#new
create POST /              pages#create
  root GET  /              pages#index
</pre>

<br>

<p>Rails environment:</p>
<pre>
    <%= Rails.env %>
</pre>
